<h1>Movies in <b>Focus</b></h1>
<div class="top-movies">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #4c8ebf;"></i>
</div>
<div class="mov-all-header">
    <h1>Movies in <b>Theater</b></h1>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Sort by
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item mov-recent" type="button">Most recent</button>
            <button class="dropdown-item mov-title" type="button">Title</button>
            <button class="dropdown-item mov-rating" type="button">Rating</button>
        </div>
    </div>
</div>
<div class="all-movies">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #4c8ebf;"></i>
</div>